<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.dsp.bikeairsensorlogger" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >

        <activity
            android:name=".activity.BaseActivity"
            android:label="Captures"
            android:theme="@style/Theme.Sherlock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@style/DialogTheme" />

        <service android:name=".bluetooth.BluetoothLoggerService" />

        <provider
            android:authorities="au.id.dsp.bikeairsensorlogger.bluetooth.CaptureProvider"
            android:multiprocess="false"
            android:exported="true"
            android:name="au.id.dsp.bikeairsensorlogger.bluetooth.CaptureProvider"/>
    </application>

</manifest>
